{% extends 'base/index.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-900">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg max-w-md w-full">
        <div class="mb-4">
            <a href="{% url 'tareas' %}" class="text-purple-500 hover:text-purple-600 font-medium">&larr; Volver</a>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="space-y-4">

                <div class="flex flex-col space-y-2">
                    {% for field in form %}
                        <div class="flex flex-col space-y-1">
                            <label for="{{ field.id_for_label }}" class="text-white font-medium">{{ field.label }}</label>
                            {{ field|add_class:"w-full py-2 px-4 bg-gray-700 border border-gray-600 rounded-md text-white focus:outline-none focus:ring-2 focus:ring-purple-500 transition-colors" }}

                            {% if field.errors %}
                                <p class="text-red-500 text-sm">{{ field.errors }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-6">
                <input class="w-full bg-purple-500 text-white py-2 px-4 rounded-md hover:bg-purple-600 transition-colors" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
